<h1>All tags </h1>

<ul id = "tags">
  <% @tags.each do |t| %>
    <li>
      <%= link_to t.name, tag_path(t) %>
      <% if logged_in? %>
        <%= link_to "Delete", tag_path(t), method: :delete, data: {confirm: "Really delete the tag?"} %>
      <% end %>
    </li>
  <% end %>
</ul>

<br />


<%= link_to "Article list", articles_path %>