<h1> Articles tagged with <%= @tag.name %> </h1>

<ul>
  <% @tag.articles.each do |a| %>
    <li><%= link_to a.title, article_path(a) %> </li>
  <% end %>
</ul>


<%= link_to "<< Back to tag list", tags_path %> 
<br />
<%= link_to "Article list", articles_path %>